:root {
	/* fonts */
	--main-font: 'Roboto', sans-serif;
	--secondary-font: 'Raleway', sans-serif;

	/* colors */
	--main-txt-cl: #212121;
	--secondary-txt-cl: #757575;
	--wight-txt-cl: #ffffff;
	--accent-cl: #2196F3;
	--dark-bg-cl: #2F303A;
	--light-bg-cl: #F5F4FA;

	/* others */
}

/* Спільні властивості */
body {
	font-family: var(--main-font);
	color: var(--main-txt-cl);
}

ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin: 0;
}

img {
	display: block;
}

a {
	text-decoration: none;
	color: inherit;
}

.title {
	font-size: 36px;
	line-height: 1.17;
	text-align: center;
	letter-spacing: 0.03em;
	margin-bottom: 50px;
}

.current {
	color: var(--accent-cl);
}

.container {
	width: 1200px;
	padding-left: 15px;
	padding-right: 15px;
	margin-left: auto;
	margin-right: auto;
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;

	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

/* Header */
.header {
	border-bottom: 1px solid #ECECEC;

}

.header-container {
	display: flex;
	align-items: center;
}

.nav {
	display: flex;
	align-items: center;
}

.accent-cl {
	color: var(--accent-cl)
}

.header-logo {
	margin-right: 93px;
}

.logo {
	font-family: var(--secondary-font);
	font-weight: 700;
	font-size: 26px;
	line-height: 1.19;
	letter-spacing: 0.03em;
}

.nav-page {
	display: flex;
	align-items: center;

	font-weight: 500;
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.02em;
}

.nav-item:not(:last-child) {
	margin-right: 50px;
}

.nav-link {
	display: block;
	padding-top: 32px;
	padding-bottom: 32px;
}

.header-contacs-item:not(:last-child) {
	margin-right: 50px;
}

.contacs {
	display: flex;
	margin-left: auto;

	color: var(--secondary-txt-cl);
	font-weight: 500;
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.02em;
}

.nav-link:hover,
.nav-link:focus,
.contacs-link:hover,
.contacs-link:focus,
.hover-adress:hover,
.hover-adress:focus {
	color: var(--accent-cl);
}

/* !!!index.html */
/* Hero */
.hero {
	background-color: var(--dark-bg-cl);
	padding: 200px 0;
}

.main-title {
	width: 696px;
	margin: 0 auto 30px;

	color: var(--wight-txt-cl);
	font-weight: 900;
	font-size: 44px;
	line-height: 1.36;
	text-align: center;
	letter-spacing: 0.06em;
	text-transform: uppercase;
}

.main-btn {
	display: block;
	min-width: 200px;
	min-height: 50px;
	margin: 0 auto;

	font-family: inherit;
	font-weight: 700;
	font-size: 16px;
	line-height: 1.88;
	letter-spacing: 0.06em;
	cursor: pointer;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
	border-radius: 4px;
	border: 0;
	color: var(--wight-txt-cl);
	background-color: var(--accent-cl);
}

.main-btn:hover,
.main-btn:focus {
	background-color: #188CE8;
}

/* Qualities */
.qualities {
	padding: 94px 0;
}

.qualities-container {
	display: flex;
	gap: 30px;
}

.qualities-item {
	width: 270px;
}

.qualities-title {
	margin-bottom: 10px;

	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.03em;
	text-transform: uppercase;
}

.qualities-text {
	color: var(--secondary-txt-cl);

	font-size: 14px;
	line-height: 1.71;
	letter-spacing: 0.03em;
}

/* Work */
.work {
	padding-bottom: 94px;
}

.work-list {
	display: flex;
}

.work-item:not(:last-child) {
	margin-right: 30px;
}

/* Team */
.team {
	background-color: var(--light-bg-cl);
	padding: 94px 0;
}

.team-list {
	display: flex;
	flex-wrap: wrap;
	gap: 30px;
}

.team-item {
	background-color: #fff;
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
	border-radius: 0px 0px 4px 4px;
}

.team-wrapper {
	padding: 30px;
}

.team-title {
	margin-bottom: 10px;

	font-weight: 500;
	font-size: 16px;
	line-height: 1.19;
	text-align: center;
	letter-spacing: 0.03em;
}

.team-text {
	color: var(--secondary-txt-cl);
	font-size: 16px;
	line-height: 1.19;
	text-align: center;
	letter-spacing: 0.03em;
}

/*!!! portfolio.html */
/* Portfolio */
.portfolio {
	padding: 94px 0;
}

.filter {
	display: flex;
	margin-bottom: 50px;
	justify-content: center;
	gap: 8px;

	margin-left: auto;
	margin-right: auto;
}

.galary {
	display: flex;
	flex-wrap: wrap;
	gap: 30px;
}

.filter-btn {
	padding: 6px 22px;

	background-color: var(--light-bg-cl);
	font-family: inherit;
	font-weight: 500;
	font-size: 16px;
	line-height: 1.63;
	letter-spacing: 0.03em;
	cursor: pointer;
	border-radius: 4px;
	border: 0;
}

.filter-btn:hover,
.filter-btn:focus {
	color: var(--wight-txt-cl);
	background-color: var(--accent-cl);
	box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-wrapper {
	padding: 20px 24px;
	border-bottom: 1px solid #EEEEEE;
	border-left: 1px solid #EEEEEE;
	border-right: 1px solid #EEEEEE;
}

.portfolio-title {
	margin-bottom: 4px;

	font-size: 18px;
	line-height: 2;
	letter-spacing: 0.06em;
}

.portfolio-text {
	color: var(--secondary-txt-cl);

	font-size: 16px;
	line-height: 1.88;
	letter-spacing: 0.03em;
}

/* Footer */
.footer {
	background-color: var(--dark-bg-cl);
	padding: 60px 0;
}

.footer-logo {
	display: inline-block;
	margin-bottom: 20px;
}

.address {
	font-style: normal;
}

.wight-txt-cl {
	color: var(--wight-txt-cl);
}

.footer-adress {
	margin-bottom: 9px;

	color: var(--wight-txt-cl);
	font-size: 14px;
	line-height: 1.71;
	letter-spacing: 0.03em;
}

.footer-contacs {
	color: rgba(255, 255, 255, 0.6);
	font-size: 14px;
	line-height: 1.71;
	letter-spacing: 0.03em;
}

.footer-contacs-item {
	margin-bottom: 9px;
}